<%= form_for(@advert) do |f| %>

    <div class="container">
      <div class="row">
        <div class="span5 offset4 text error_explanation">
          <ul>
            <% @advert.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container text-center">
      <div class="span12">
          <div>
            <%= f.label :content %>
            <%= f.text_area :content %>
            <br/>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <br/>
            <%= f.label :phone %>
            <%= f.text_field :phone %>
            <br/>
            <%= f.label :skype %>
            <%= f.text_field :skype %>
            <br/>
            <%= f.label :email %>
            <%= f.text_field :email %>
            <br/>
            <%= f.label :icq, "ICQ" %>
            <%= f.text_field :icq %>
            <br/>
            <%= f.label :category_id, "Категория" %>
            <%= f.collection_select(:category_id, Category.all, :id, :title, :include_blank => "Выберите категорию") %>
            <br/>
            <%= f.submit "Create advert", class: "btn btn-primary" %>
          </div>
      </div>
    </div>

<% end %>